@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Calibre, system-ui, sans-serif;
  }
}

@font-face {
  font-family: "Calibre";
  src: url("../public/static/fonts/CalibreMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Calibre";
  src: url("../public/static/fonts/CalibreSemibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Calibre";
  src: url("../public/static/fonts/CalibreRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "'sf mono'";
  src: url("../public/static/fonts/SFMono-Regular.otf");
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
}
